<!DOCTYPE html>
<html>
<head>
<title>Guestbook</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
</head>
<body>
  <div style="float:right">
    {{if .CurrentUser}}
    {{.CurrentUser}} <a href="{{.LoginUrl}}">Sign Out</a>
    {{else}}
    <a href="{{.LoginUrl}}">Sign In</a>
    {{end}}
  </div>

  <h1>Appengine Go! Guestbook <img src="/static/img/appengine-go.png"></h1>
  <a href="https://bitbucket.org/IanLewis/golang_guestbook/">Source Code</a>
  <form action="/save" method="POST" style="margin-bottom: 50px">
    <div><textarea name="body" rows="10" cols="80"></textarea></div>
    <div><input type="submit" value="Save"></div>
  </form>
  {{range .Greetings}}
  <div>
    User: {{userName .AccountEmail}}<br/>
    {{date .Date}}
    <p style="padding-left:10px">{{html .Body | newlinesbr}}</p>
  </div>
  {{end}}

  <div style="text-align:center">
  </div>
</body>
</html>
